<h1>Add a recipe to the Cookbook</h1>

<form action="/recipes" method="post">
  <label for="name">Name </label>
  <input type="text" name="name">
  <label for="description">Description </label>
  <textarea name="description" rows="8"></textarea>
  <label for="prep_time">Preparation time </label>
  <input type="text" name="prep_time">
  <label for="difficulty">Difficulty </label>
  <input type="text" name="difficulty">
  <input type="submit" value="Add recipe" class="submit-btn">
</form>
