<h1>Import a recipe from LetsCookFrench</h1>
<form action="/search" method="get">
  <input type="text" name="ingredient" placeholder="Enter ingredient">
  <input type="submit" value="Search" class="submit-btn">
</form>

<%= erb :results %>

<a href="/">Back to Cookbook</a>
