form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 500px;
}

input, textarea {
  margin-bottom: 16px;
}

.submit-btn {
  align-self: flex-start;
}

#actions {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
